<h1>Add a New Channel</h1>

<div>
<%= form_for :channel, url: channels_path do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@channel.errors.count, "error") %> prohibited
        this channel from being saved:
      </h2>
      <ul>
        <% @channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Enter Name:" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Favorite:" %><br>
    <%= f.check_box :favorite %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<div>
  <%= link_to 'Back to home page', welcome_index_path %>
</div>
